[user]
    email = ganghe74@gmail.com
    name = KH
    signingkey = 804158AF35BE6B54
[push]
    default = simple
[color]
    ui = auto
[core]
    quotepath = off
    editor = nvim
[commit]
    gpgsign = false
[gpg]
    program = gpg
[alias]
    s = status
    co = checkout
    ci = commit
    br = branch
    l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit -10
